In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from py2neo import Graph, Node, Relationship
import nltk
from py2neo import *
import pandas as pd
from pprint import pprint
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import spacy
from spacy import displacy
import en_core_web_sm
from nltk import pos_tag
from itertools import *
import glob
import csv
from gensim.matutils import softcossim
from gensim import corpora
import gensim
import time
import gensim.downloader as api
from gensim.matutils import softcossim
from gensim import corpora
import gensim
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("C:/Users/wongzn/Desktop/rs_data_coref_nomax.csv")[["relation","subject","object"]]

In [3]:
df.head()

,relation,subject,object
0,was,21-year-old Malaysian suspect,arrested
1,containing,he,336g of Ice
2,containing,he,336g
3,containing 336g at,he,carpark in vicinity of Orchard Towers
4,was,Malaysian suspect,arrested

# Cleaning Relations Data

In [5]:
df.drop_duplicates(inplace=True) #dropping duplicated relations
df.reset_index(drop=True,inplace=True)
df.all = df.relation + ' ' + df.subject +' '+ df.object

In [6]:
fasttext_model300 = api.load('fasttext-wiki-news-subwords-300')

In [7]:
documents = df.all.apply(lambda x: x.split())
dictionary = corpora.Dictionary(documents)

In [8]:
st=time.time()
similarity_matrix = fasttext_model300.similarity_matrix(dictionary, tfidf=None, threshold=0.0, exponent=2.0, nonzero_limit=100)
time.time()-st

2698.08948802948

In [9]:
sentences = documents.apply(lambda x: dictionary.doc2bow(x))
sent = pd.DataFrame(sentences)

In [ ]:
#Loop through Relations data, remove Relations that are similar

index = []
st = time.time()

for i in tqdm(range(len(sent))):
    if i not in index:
        for j in range(15):
            scs = softcossim(sent[0][i],sent[0][i+j+1],similarity_matrix)
            if scs > 0.75: #Threshold
                len1 = len(sent[0][i])
                len2 = len(sent[0][i+j+1])
                if len1 > len2: #Getting index of the shorter relation
                    index.append(i+j+1)
                else:
                    index.append(i)
            else:
                continue
    else: 
        continue

In [11]:
print(time.time()-st)

2360.408665895462

In [12]:
index = list(set(index))
df.drop(index,axis=0,inplace=True) #Removing Relations that are similar and shorter in length
df.reset_index(drop=True,inplace=True)

In [13]:
df.drop_duplicates(inplace=True) #Drop duplicates again just in case

In [14]:
df = df[['relation','subject','object']]

In [15]:
df['subject'] = df['subject'].apply(lambda x: re.sub('\n','',x))

In [16]:
#Get unique subjects
subj = df.subject.unique()

In [17]:
len(subj)

29466

In [31]:
#df.to_csv("C:/Users/wongzn/Desktop/df_backupafterprocess.csv")

# Further Cleaning of Relations By Subject

In [50]:
subj_1 = subj[:9879]
subj_2 = subj[9879:14879]
subj_3 = subj[14879:19879]
subj_4 = subj[19879:24879]
subj_5 = subj[24879:]

In [ ]:
#final_df = pd.DataFrame(columns=['relation','subject','object'])

for s in tqdm(subj):
    new_df = df[df.subject == s]
    new_df.reset_index(inplace=True,drop=True)
    new_df.all = new_df.relation + ' ' + new_df.subject +' '+ new_df.object
    documents = new_df.all.apply(lambda x: x.split())
    dictionary = corpora.Dictionary(documents)
    similarity_matrix = fasttext_model300.similarity_matrix(dictionary, tfidf=None, threshold=0.0, exponent=2.0, nonzero_limit=100)
    sentences = documents.apply(lambda x: dictionary.doc2bow(x))
    sent = pd.DataFrame(sentences)
    index = []
    for i in range(len(sent)):
        if i not in index:
            for j in range(5):
                try:
                    scs = softcossim(sent[0][i],sent[0][i+j+1],similarity_matrix)
                    if scs > 0.75:
                        len1 = len(sent[0][i])
                        len2 = len(sent[0][i+j+1])
                        if len1 > len2:
                            index.append(i+j+1)
                        else:
                            index.append(i)
                            
                except:
                    continue
    index = list(set(index))
    new_df.drop(index,axis=0,inplace=True)
    final_df = final_df.append(new_df, ignore_index=True)

In [20]:
final_df

,relation,subject,object
0,was,malaysian suspect,arrested
1,is in,carpark,vicinity of orchard towers
2,is in,carpark,sengkang housing estate
3,is in,carpark,bukit ho swee
4,is in,carpark,kio
5,is in,carpark,toa payoh lorong
6,is in,carpark,clementi avenue
7,be,carpark,will closed
8,is in,carpark,commonwealth drive
9,from officers is,central narcotics bureau,cnb
10,also recovered,central narcotics bureau,plastic bag
11,said in,central narcotics bureau,press release
12,of,central narcotics bureau,latest islandwide anti-drug enforcement operation
13,is investigating,central narcotics bureau,drug activities of suspects
14,said in,central narcotics bureau,statement on friday
15,arrested man in,central narcotics bureau,vicinity of yishun avenue 4
16,also arrested drug trafficker at,central narcotics bureau,suspected drug trafficker unit in hong san
17,reminded,central narcotics bureau,public
18,tailed,central narcotics bureau,singaporean man
19,recovered about,central narcotics bureau,580g of ice
20,said on,central narcotics bureau,friday
21,cited june report from,central narcotics bureau,united nations office on drugs
22,cited,central narcotics bureau,june report
23,seize drugs,central narcotics bureau,can restricted
24,seized,central narcotics bureau,1.9 kg of mushroom substances with drug-like p...
25,also raided unit in,central narcotics bureau,cassia crescent
26,arrested,central narcotics bureau,woman 33 suspected of drug abuse
27,included,central narcotics bureau,two men
28,is investigating,central narcotics bureau,suspects for drug activities
29,is in,central narcotics bureau,singapore
...,...,...,...
85908,is headed by,inter-agency task force aims to help children ...,second minister for education indranee rajah
85909,is in,50 low-income families,the first year
85910,reach out to,south east cdc,students from 50 low-income families in first ...
85911,provide opportunities to,south east cdc,mentor
85912,is,marcus tai,lawyer
85913,discharge deputy public prosecutor winston man,deputy public prosecutor winston man lawyer ma...,acting for young man
85914,adjourn case,deputy public prosecutor winston man only request,ill
85915,gave,justice audrey lim,the
85916,sexually violated,the duo,her
85917,is with,two jewellery stores,blowtorch
85918,was sentenced,saatish gautham 20,pleading june 19 to two counts of attempted ho...
85919,was,saatish gautham 20,sentenced on wednesday to 3 1/2 years ' jail
85920,pleading,saatish gautham 20,guilty on
85921,left,jamal and faris,scene
85922,returned later to,jamal and faris,little india
85923,is in,jewel palace,road
85924,alerted police at_time,store owner 's wife,morning
85925,' unit is,reformative trainees,deputy superintendent
85926,of officer is,reformative trainees ' housing unit,dsp2
85927,threatened,dsp2 lim,staff
85928,is in,saatish 's conduct,rtc
85929,was,saatish 's conduct,appalling
85930,is in,hemsley avenue,serangoon gardens
85931,can co,viruses,exist in mosquito
85932,exists extensively in,a. zika,singaporeans travel
85933,exists extensively in,a. zika,south-east asia
85934,can also cause surge in,same weather conditions,cases of zika
85935,driving,same weather conditions,current dengue epidemic
85936,can also cause,same weather conditions,similar surge
85937,are non-human primates such as,known animals,apes

In [26]:
#FINAL = pd.DataFrame(columns=['relation','subject','object'])
#FINAL = FINAL.append(final_df, ignore_index=True)
#final_df.to_csv("C:/Users/wongzn/Desktop/Final_Cleaned_Relations.csv")

In [21]:
import numpy as np
final_df['subject'].replace('', np.nan, inplace=True)
final_df['subject'].replace(' ', np.nan, inplace=True)
final_df['subject'].replace('  ', np.nan, inplace=True)
final_df['subject'].replace('   ', np.nan, inplace=True)
final_df['subject'].replace('    ', np.nan, inplace=True)
final_df['subject'].replace('     ', np.nan, inplace=True)
final_df['subject'].replace('      ', np.nan, inplace=True)
final_df['subject'].replace('       ', np.nan, inplace=True)
final_df['subject'].replace('        ', np.nan, inplace=True)
final_df['subject'].replace('         ', np.nan, inplace=True)
final_df['subject'].replace('          ', np.nan, inplace=True)
final_df['subject'].replace('           ', np.nan, inplace=True)
final_df['subject'].replace('            ', np.nan, inplace=True)

In [22]:
final_df['subject'].dropna(inplace=True)
final_df['subject'] = final_df['subject'].apply(lambda x: x.strip())

In [25]:
sum(final_df.subject.value_counts()>3)

3694

In [24]:
final_df.drop_duplicates(inplace=True)

# Importing into Neo4j

In [27]:
import nltk
from py2neo import *
import pandas as pd
from pprint import pprint
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import spacy
from spacy import displacy
import en_core_web_sm
from nltk import pos_tag
from itertools import *
import glob
import csv
from py2neo import Graph, Node, Relationship

In [28]:
graph = Graph('bolt://localhost:7687', auth=("neo4j","123"))
tx = graph.begin()

In [29]:
subject_df = list(final_df.subject.unique())

In [36]:
for i in subject_df:
    new_df = final_df[final_df.subject == i]
    new_df.reset_index(drop=True,inplace=True)
    N1 = Node("Subject", subj=i)
    #tx.merge(N1,"dat","data")
    for row in range(len(new_df)):
        N2 = Node("Object", obj=new_df.object[row])
        #tx.merge(N2,"Object","obj")
        rel = Relationship(N1, new_df.relation[row], N2)
        graph.create(rel)

# Steps to set up Neo4j

1. Download GraphAware files (for NLP): https://products.graphaware.com/
        - Installing GA on Neo4j: https://github.com/graphaware/neo4j-nlp
2. Download StanfordCoreNLP Jar file: https://stanfordnlp.github.io/CoreNLP/download.html
3. Install APOC Plugin on Neo4j
4. Run the above Python code and Neo4j Query to merge the nodes

 # Neo4j Codes

MATCH (x:Subject)
WITH DISTINCT x.subj AS subjValue
MATCH (x:Subject) WHERE x.subj = subjValue
WITH subjValue, collect(x) AS nds
CALL apoc.refactor.mergeNodes(nds) YIELD node
RETURN node

MATCH (n1:Subject),(n2:Object)
WHERE n1.subj = n2.obj
WITH [n1,n2] as ns
CALL apoc.refactor.mergeNodes(ns) yield node
RETURN node

### Running this query will give us the following:

MATCH (n) 
WHERE n.subj ='lee hsien loong' 
RETURN n

![Querying A Specific Subject](https://user-images.githubusercontent.com/36468263/77022937-d1598480-69c5-11ea-9862-51e881071495.jpg)

In [ ]:
Double click to Expand

![Expanding A Particular Node By Double Clicking](https://user-images.githubusercontent.com/36468263/77022939-d28ab180-69c5-11ea-9e54-6ef75fa6011f.jpg)

In [ ]:
Double click on PM

![Subjects Linked To Prime Ministers](https://user-images.githubusercontent.com/36468263/77022942-d3234800-69c5-11ea-8862-1975e3f02c4e.jpg)

In [ ]:
Double Click on Jewel

![Expanding Jewel Changi](https://user-images.githubusercontent.com/36468263/77022850-9ce5c880-69c5-11ea-8eee-112f6553584f.jpg)

### To Query For Relations

MATCH p=()-[;relation]-() 
RETURN p